snippet if "if () { }"
if ($1) {
    $0
}
endsnippet

snippet pl "System.out.println()"
System.out.println("$1")$0
endsnippet

snippet for: "for (:)"
for (var $1 : $2) {
  $0
}
endsnippet

snippet fori "for var i = 0; i < n; i++"
for (var i = 0; i < $1; i++) {
  $0
}
endsnippet
